
{% extends "base.html" %}
{% block content %}

<div class="center-align">
    <div class="card-panel hoverable" id="main-card" style="padding: 30px; margin-top: 50px;">
        <h1 class="animated fadeInDown" id="dashbots">Logviewer</h1>
        <h5 class="header col s12 light grey-text text-darken-3" style="margin-bottom: 30px;">View Modmail ticket transcripts for BUK's Moderation Team.</h5>
        
        <!-- Additional animations and modernized appearance -->
    </div>
    
    <!-- Footer with credits -->
    <div class="footer-credit">
        Created by <span class="discord">bossman</span> for BUK's Moderation Team.
    </div>
</div>

{% endblock %}
