<div class="navbar-fixed">
    <nav class="darken-2" style="background-color: #2f3136;">
        <div class="nav-wrapper container">
            <!-- Brand logo aligned to the left -->
            <a id="logo-container" href="/" class="brand-logo white-text">
                BUK's LOGVIEWER
            </a>

            <!-- Mobile Menu Trigger -->
            <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>
