<div class="navbar-fixed">
    <nav class="darken-2" style="background-color: #2f3136;">
        <div class="nav-wrapper container">
            <!-- Brand logo aligned to the left -->
            <a id="logo-container" href="/" class="brand-logo white-text">
                BUK's LOGVIEWER
            </a>

            <!-- Desktop Navigation Links aligned to the right -->
            <ul class="right hide-on-med-and-down">
                <li><a href="/" class="white-text">Home</a></li>
                <li>
                    <a href="https://discord.gg/buk" target="_blank" class="btn discord-btn">
                        <i class="material-icons left">Join BUK Discord</i>
                    </a>
                </li>
            </ul>

            <!-- Mobile Menu Trigger -->
            <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>

<!-- Mobile Navigation Menu -->
<ul id="nav-mobile" class="sidenav">
    <li><a href="/" class="white-text">Home</a></li>
    <li>
        <a href="https://discord.gg/buk" target="_blank" class="btn discord-btn white-text">
            Join BUK Discord
        </a>
    </li>
</ul>
