<div class='navbar-fixed'>
    <nav class="darken-2">
        <div class="nav-wrapper container">
            <!-- Brand logo -->
            <a id="logo-container" href="/" class="brand-logo">
                <span id="dash" class="material-icons">BUK's LOGVIEWER</span>
            </a>

            <!-- Navigation Links -->
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://discord.gg/buk" target="_blank" class="btn discord-btn">Join BUK Discord</a></li>
            </ul>
            <!-- Mobile Menu -->
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://discord.gg/buk" target="_blank" class="btn discord-btn">Join BUK Discord</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
